@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Roboto&display=swap');

:root {
  --primary: #a11d66;
  --primary-light: #ff3787;
  --primary-dark: #6e1546;
  --secondary: #ba5b8f;
  --tertiary: #c77da6;
  --emphasis: #329cc5;
  --bg-gray: #f3f3f3;
}

/* ------------- general styling------------- */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.handwrite {
  font-family: 'Indie Flower', cursive;
  color: var(--primary);
}

.handwrite > span {
  font-family: 'Indie Flower', cursive;
  color: var(--emphasis);
}

.padding-1 {
  padding: 80px 25%;
}

.padding-2 {
  padding: 40px 20%;
}

.bg-gray {
  background-color: var(--bg-gray);
}

/* ------------- header ------------- */
.header {
  width: 100%;
  max-width: 1440px;
  height: 70px;
  padding: 10px 40px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.h__logo-wrapper {
  height: 32px;
}

.h__logo-img {
  height: 100%;
}

.h__nav-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h__nav-item:not(:last-of-type) {
  margin-right: 25px;
}

/* ------------- main ------------- */
.main {
  margin-top: 70px;
}

.m__title-jap {
  font-size: 23px;
  margin-top: 16px;
  margin-bottom: 40px;
}


/* ------------- top section ------------- */
.m__top {
  position: relative;
}

.m__top-img-wrapper {
  width: 60%;
  margin: 0 0 0 auto;
}

.m__top-img {
  width: 100%;
  object-fit: cover;
}

.m__top-copy-eng {
  font-size: 69px;
  position: absolute;
  top: 90px;
  left: 20%;
  line-height: 1.5em;
}

.m__top-copy-jap {
  color: var(--primary);
  font-size: 22px;
  margin-bottom: 5px;
}

.m__top-copy-jap span {
  color: var(--emphasis);
}

.m__top-txt-block {
  position: absolute;
  top: 340px;
  left: 20%;
  line-height: 1.5em;
}

/* ------------- news section ------------- */
.m__news-list {
  padding: 30px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.m__news-item {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.m__news-item-date::after {
  content: "ニュース";
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  margin: 0 30px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 20px;
}

/* ------------- about section ------------- */
.m__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m__about-inner {
  display: flex;
  justify-content: space-between;
}

.m__about-inner-txt-block {
  width: 40%;
}

.m__about-inner-txt {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.8em;
}

.m__about-inner-img-wrapper {
  width: 40%;
}

.m__about-inner-img {
  width: 100%;
  object-fit: contain;
}

/* ------------- service section ------------- */
.m__service-parent {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}

.m__service-item {
  display: flex;
}

.m__service-item:first-of-type {
  flex-direction: column;
  align-items: center;
  grid-row: 1/3;
  padding: 45px;
  background-color: var(--primary);
}

.m__service-item:first-of-type .m__service-project {
  text-align: center;
}

.m__service-item:not(:first-of-type) {
  flex-direction: row;
  align-items: center;
  padding: 25px 15px;
}

.m__service-item:nth-of-type(2) {
  background-color: var(--secondary);
}

.m__service-item:last-of-type {
  background-color: var(--tertiary);
}


.m__service-img-wrapper {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.m__service-img {
  width: 100%;
  height: 100%;
}

.m__service-project {
  margin: 10px 0;
  color: #ddd;
}

.m__service-txt {
  font-size: 14px;
  color: #ddd;
  line-height: 1.5em;
}


/* ------------- blog section ------------- */
.m__blog-inner {
  display: flex;
  justify-content: space-between;
}

.m__blog-card {
  width: 30%;
  position: relative;
}

.m__blog-card::before {
  content: "Blog";
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary);
  font-size: 20px;
  text-align: center;
  color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
}

.m__blog-img-wrapper {
  width: 100%;
}

.m__blog-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.m__blog-txt-block {
  padding: 20px 15px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.m__blog-title {
  margin-bottom: 35px;
}

.m__blog-txt-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.m__blog-link-wrapper {
  text-align: center;
  margin-top: 30px;
}

.m__blog-link {
  display: inline-block;
  padding: 20px 30px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 30px;
  background-color: #fff;
}


/* ------------- company section ------------- */
.m__company-table {
  width: 100%;
  border-collapse: collapse;
}

.m__company-table th,
.m__company-table td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
}

.m__company-table-header {
  text-align: left;
  width: 30%;
  background-color: var(--bg-gray);
}

/* ------------- recruit section ------------- */
.m__recruit {
  display: flex;
}

.m__recruit-item {
  width: 50%;
  text-align: center;
  padding: 125px 0;
  background: url("../img/recruit.png") no-repeat center/cover;
}

.m__recruit-item:last-of-type {
  background: url("../img/interview.png") no-repeat center/cover;
}

.m__recruit-title {
  font-size: 25px;
  color: #fff;
}


/* ------------- inquiry section ------------- */
.m__inquiry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.m__inquiry-txt {
  font-weight: bold;
}

.m__inquiry-bar {
  margin: 25px;
  height: 40px;
  width: 2px;
  background-color: var(--primary);
}

.m__inquiry-btn {
  display: inline-block;
  padding: 25px 80px;
  color: #fff;
  background: linear-gradient(to right, var(--primary-light), var(--primary));
  border-radius: 45px;
  box-shadow: 0 8px 0 var(--primary-dark);
  transform: translateY(0);
  transition: all 50ms;
  position: relative;
}

.m__inquiry-btn:active {
  box-shadow: 0 0 0 var(--primary-dark);
  transform: translateY(8px);
}

.m__inquiry-btn::before {
  content: "";
  background: url("../img/mailicon.svg") no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}


/* ------------- footer ------------- */

.footer {
  text-align: center;
  padding: 25px 0;
}

.f__copyright {
  color: #666;
}


/* ------------ responsive ------------*/
@media screen and (max-width:1200px) {
  .padding-1 {
    padding: 80px 15%;
  }
  
  .padding-2 {
    padding: 40px 12%;
  }

  .m__top-copy-eng,
  .m__top-txt-block {
    left: 10%;
  }

  .m__top-copy-eng {
    top: 40px;
  }
  
  .m__top-txt-block {
    top: 280px;
  }
}

@media screen and (max-width:870px) {
  .padding-1 {
    padding: 80px 10%;
  }
  
  .padding-2 {
    padding: 40px 8%;
  }

  .m__top-copy-eng {
    font-size: 40px;
  }
  
  .m__top-txt-block {
    top: 200px;
  }

  .m__top-copy-jap {
    font-size: 18px;
  }
  
  .m__top-txt {
    font-size: 16px;
  }
}